# Server Configuration
SERVER_PORT=8090
SERVER_READ_TIMEOUT_SECONDS=30
SERVER_WRITE_TIMEOUT_SECONDS=30

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=graduation
DB_PASSWORD=graduation_secret
DB_NAME=graduation
DB_SSL_MODE=disable

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Kafka Configuration
KAFKA_BROKERS=localhost:9092

# Auth Configuration
AUTH_SERVICE_URL=http://localhost:6001
INTERNAL_SERVICE_SECRET=1262c8c0eab801906cf8c1a0493897ff194f4948fde08cb453ad939578123b8596606d1d4871c4e0d1a46d5ecbd5dbcd09491cb0831fa808fcff4b98c9d67403

# Paymob Configuration
PAYMOB_API_KEY=ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2TVRFek9UTTBNQ3dpYm1GdFpTSTZJbWx1YVhScFlXd2lmUS44NVhrZnpVaGlhMzNWLVlCLVZqZHJIbkwtX2dtam9zbWNUU284VThIbFBVMlFBZUVZV2kzcHgxMEVfY1lzdW80SFh5X19vamlCOEdqMGVYaG9SdGRxZw==
PAYMOB_CARD_INTEGRATION_ID=5573949
PAYMOB_WALLET_INTEGRATION_ID=5573965
PAYMOB_IFRAME_ID=1013800
PAYMOB_HMAC_SECRET=23E01DA8A8FCAEE15F86E172B94B36BE

# Courses Service Configuration
COURSES_SERVICE_URL=http://localhost:8085

# Email Configuration (Resend)
RESEND_API_KEY=re_ZrpixHSg_5236BKuSVcaJzYPMB2RBNBLz
EMAIL_FROM=onboarding@resend.dev
EMAIL_FROM_NAME=Payment Service
